<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zighra.kineticsdkquickstartexample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".LoginActivity"  android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".GestureSwipeAuthActivity"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".GestureTapAuthActivity"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <!--Configure the SDK-->
        <meta-data
            android:name="zighra_app_key"
            android:value="ecCkoC9CkfBORcf" />
        <meta-data
            android:name="zighra_app_secret"
            android:value="AvgYHtnb/xmjfkNvtzuyU8rn+jv7BCznALYSXe76/e7ZPDvAS/0dAnNm0o+h2AMQdg=="/>
        <meta-data
            android:name="zighra_app_encryption"
            android:value="true" />
    </application>

</manifest>